body{
	/*background-image: url('assets/laugh.png');*/
}
/*LOADER */
.lds-dual-ring {
  display: inline-block;
  width: 180;
  height: 180px;
  margin-left:50%;
}
.lds-dual-ring:after {
  content: " ";
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 50%;
  border-radius: 50%;
  border: 6px solid blue;
  border-color: blue transparent blue transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  margin:auto;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.list-group-item:last-child {
	font-family: times new roman;
    border-bottom-right-radius: .40rem;
    border-bottom-left-radius: .25rem;
    background-color:  #262626;
    color: yellow;
    font-size: 20px;
	box-shadow: 0 5px 5px 0 black;

}
button, select {
    text-transform: none;
    overflow: hidden;
    background-color: #262626;
    border: none;
    float: right;
}

button :hover{
transform: scale(1.3) ;
}
hr{
	background-color:green;
 }



